<%= turbo_frame_tag id="game_(#{@game.id})_chat" do %>
  <div class="h-80 max-h-80 overflow-y-scroll flex flex-col gap-1 custom-scroll bg-slate-900 rounded-xl" id="messages">
    <%= turbo_stream_from @chat %>
    <%= render @chat.messages%>
  </div>
  <%= turbo_frame_tag id="new_message", src:new_game_chat_message_path(@game) do%>
    <div class="h-16 bg-slate-900">
    <% end %>
  <% end %>
